﻿@using Microsoft.AspNetCore.Http;
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    var num = DateTime.Now.Ticks;
}

<input Id="MasterDataUserId" value="@ViewBag.Id" hidden />

<div id="form_container">
    <div class="row no-gutters">
        <div class="col-lg-12">
            <div id="left_form">
                <figure><img src="~/images/info_graphic_1.svg" alt="" width="100" height="100"></figure>
                <h2>COVID-19 <span>Self Assessment Kesehatan</span></h2>
                <p>Selamat Datang <b>@Context.Session.GetString("_UserName")</b></p>
                <p>Anda sudah mengisi Assessment hari ini</p>
                <a class="btn_1 rounded yellow btn-Show-Result">Lihat Hasil</a>
            </div>
        </div>
    </div><!-- /Row -->
</div><!-- /Form_container -->


@section Scripts {
    <environment include="Development">
        <script type="text/javascript" src="~/selfassessment/complete.js?@num"></script>
    </environment>
    <environment exclude="Development">
        <script type="text/javascript" src="~/selfassessment/complete.min.js?@num"></script>
    </environment>
}