﻿@using Microsoft.AspNetCore.Http;
@model SelfAssessment.Web.Models.Survey.DataSurveyModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    var num = DateTime.Now.Ticks;
}

<div id="form_container">
    <div class="row no-gutters">
        <div class="col-lg-12">
            <div id="wizard_container">
                <div id="top-wizard">
                    <div id="progressbar"></div>
                    <span id="location"></span>
                </div>
                <!-- /top-wizard -->
                <form id="wrapped" method="post">
                    <input asp-for="MasterDataUserId" type="hidden" />
                    <input asp-for="MasterDataKelurahanId" type="hidden" />
                    <input asp-for="Gender" type="hidden" />

                    <input id="website" name="website" type="text" value="">
                    <!-- Leave for security protection, read docs for details -->

                    @if (@Context.Session.GetString("_Region") == "Jakarta")
                    {
                        <div id="middle-wizard">

                            @if (@Model.Gender == 2)
                            {
                                <div class="step">
                                    <h3 class="main_question"><i class="arrow_right"></i>Apakah Anda saat ini dalam kondisi hamil?</h3>
                                    <div class="form-group">
                                        <label class="container_radio version_2">
                                            Ya
                                            <input type="radio" name="question1" value="Ya" class="required" id="2">
                                            <span class="checkmark"></span>
                                        </label>
                                        <label class="container_radio version_2">
                                            Tidak
                                            <input type="radio" name="question1" value="Tidak" class="required" id="3">
                                            <span class="checkmark"></span>
                                        </label>
                                    </div>
                                </div>
                                <!-- /step-->
                            }

                            <div class="step">
                                <h3 class="main_question"><i class="arrow_right"></i>Usia</h3>
                                <div class="form-group">
                                    <label class="container_radio version_2">
                                        Dibawah 50 Tahun
                                        <input type="radio" name="question2" value="Dibawah50Tahun" class="required" id="3">
                                        <span class="checkmark"></span>
                                    </label>
                                    <label class="container_radio version_2">
                                        Diatas 50 Tahun
                                        <input type="radio" name="question2" value="Diatas50Tahun" class="required" id="2">
                                        <span class="checkmark"></span>
                                    </label>
                                </div>
                            </div>
                            <!-- /step-->

                            <div class="step">
                                <h3 class="main_question"><i class="arrow_right"></i>Status tempat tinggal</h3>
                                <div class="form-group">
                                    <label class="container_radio version_2">
                                        Kost
                                        <input type="radio" name="question3" value="kost" class="required" id="2">
                                        <span class="checkmark"></span>
                                    </label>
                                    <label class="container_radio version_2">
                                        Apartement
                                        <input type="radio" name="question3" value="apartment" class="required" id="2">
                                        <span class="checkmark"></span>
                                    </label>
                                    <label class="container_radio version_2">
                                        Rumah
                                        <input type="radio" name="question3" value="rumah" class="required" id="3">
                                        <span class="checkmark"></span>
                                    </label>
                                </div>

                                <div class="add_bottom_45"></div>

                                <h3 class="main_question"><i class="arrow_right"></i>Tinggal bersama</h3>
                                <div class="form-group">
                                    <label class="container_radio version_2">
                                        Sendiri
                                        <input type="radio" name="question4" value="sendiri" class="required">
                                        <span class="checkmark"></span>
                                    </label>
                                    <label class="container_radio version_2">
                                        Keluarga
                                        <input type="radio" name="question4" value="keluarga" class="required">
                                        <span class="checkmark"></span>
                                    </label>
                                </div>
                            </div>
                            <!-- /step-->

                            <div class="step">
                                <h3 class="main_question"><i class="arrow_right"></i>Kendaraan yang digunakan ke kantor</h3>
                                <div class="form-group">
                                    <label class="container_radio version_2">
                                        Pribadi
                                        <input type="radio" name="question5" value="Pribadi" class="required" id="3">
                                        <span class="checkmark"></span>
                                    </label>
                                    <label class="container_radio version_2">
                                        Umum
                                        <input type="radio" name="question5" value="Umum" class="required" id="1">
                                        <span class="checkmark"></span>
                                    </label>
                                </div>
                            </div>
                            <!-- /step-->

                            <div class="step">
                                <h3 class="main_question">
                                    <i class="arrow_right"></i>Dalam 14 hari terakhir, apakah Anda menggunakan transportasi umum termasuk Grab/Gojek/Gocar? (Kecuali dalam rangka perjalanan dinas)
                                </h3>
                                <div class="form-group">
                                    <label class="container_radio version_2">
                                        Ya
                                        <input type="radio" name="question6" value="Pribadi" class="required" id="1">
                                        <span class="checkmark"></span>
                                    </label>
                                    <label class="container_radio version_2">
                                        Tidak
                                        <input type="radio" name="question6" value="Pribadi" class="required" id="3">
                                        <span class="checkmark"></span>
                                    </label>
                                </div>
                            </div>
                            <!-- /step-->

                            <div class="step">
                                <h3 class="main_question"><i class="arrow_right"></i>Dalam 14 hari terakhir, apakah Anda menghadiri acara dengan peserta lebih dari 10 orang?</h3>
                                <div class="form-group">
                                    <label class="container_radio version_2">
                                        Ya
                                        <input type="radio" name="question7" value="code" class="required" id="1">
                                        <span class="checkmark"></span>
                                    </label>
                                    <label class="container_radio version_2">
                                        Tidak
                                        <input type="radio" name="question7" value="code" class="required" id="3">
                                        <span class="checkmark"></span>
                                    </label>
                                </div>

                                <div class="add_bottom_45"></div>

                                <h3 class="main_question"><i class="arrow_right"></i>Dalam 14 hari terakhir, apakah Anda mengunjungi tempat seperti pasar, mall, rumah ibadah, rumah sakit, minimarket diluar komplek seperti indomaret)?</h3>
                                <div class="form-group">
                                    <label class="container_radio version_2">
                                        Ya
                                        <input type="radio" name="question8" value="code" class="required" id="2">
                                        <span class="checkmark"></span>
                                    </label>
                                    <label class="container_radio version_2">
                                        Tidak
                                        <input type="radio" name="question8" value="code" class="required" id="3">
                                        <span class="checkmark"></span>
                                    </label>
                                </div>
                            </div>
                            <!-- /step-->

                            <div class="step">
                                <h3 class="main_question"><i class="arrow_right"></i>Dalam 14 hari terakhir, apakah Anda mengalami sakit dengan gejala batuk/ pilek/ flu/ demam/sakit tenggorokan?</h3>
                                <div class="form-group">
                                    <label class="container_radio version_2">
                                        Ya
                                        <input type="radio" name="question9" value="Ya" class="required" id="1">
                                        <span class="checkmark"></span>
                                    </label>
                                    <label class="container_radio version_2">
                                        Tidak
                                        <input type="radio" name="question9" value="Tidak" class="required" id="3">
                                        <span class="checkmark"></span>
                                    </label>
                                </div>

                                <div class="add_bottom_45"></div>

                                <h3 class="main_question"><i class="arrow_right"></i>Apakah Anda memiliki history penyakit yang cukup serius seperti kardiovaskular (jantung), gangguan pernafasan kronis (paru-paru), diabetes, ginjal, kanker, hipertensi?</h3>
                                <div class="form-group">
                                    <label class="container_radio version_2">
                                        Ya
                                        <input type="radio" name="question10" value="Ya" class="required" id="2">
                                        <span class="checkmark"></span>
                                    </label>
                                    <label class="container_radio version_2">
                                        Tidak
                                        <input type="radio" name="question10" value="Tidak" class="required" id="3">
                                        <span class="checkmark"></span>
                                    </label>
                                </div>
                            </div>
                            <!-- /step-->

                            <div class="step">
                                <h3 class="main_question"><i class="arrow_right"></i>Dalam 14 hari terakhir, Apakah Anda pernah kontak dengan Pasien Positif Covid19?</h3>
                                <div class="form-group">
                                    <label class="container_radio version_2">
                                        Ya
                                        <input type="radio" name="question11" value="Ya" class="required" id="1">
                                        <span class="checkmark"></span>
                                    </label>
                                    <label class="container_radio version_2">
                                        Tidak
                                        <input type="radio" name="question11" value="Tidak" class="required" id="3">
                                        <span class="checkmark"></span>
                                    </label>
                                </div>

                                <div class="add_bottom_45"></div>

                                <h3 class="main_question"><i class="arrow_right"></i>Dalam 30 hari terakhir, apakah ada anggota keluarga dalam satu rumah ada dinyatakan positif Covid19?</h3>
                                <div class="form-group">
                                    <label class="container_radio version_2">
                                        Ya
                                        <input type="radio" name="question12" value="Ya" class="required" id="1">
                                        <span class="checkmark"></span>
                                    </label>
                                    <label class="container_radio version_2">
                                        Tidak
                                        <input type="radio" name="question12" value="Tidak" class="required" id="3">
                                        <span class="checkmark"></span>
                                    </label>
                                </div>
                            </div>
                            <!-- /step-->

                            <div class="step">
                                <h3 class="main_question"><i class="arrow_right"></i>Apakah ada anggota keluarga dalam satu rumah bekerja di Rumah Sakit/ Klinik, Tempat Pelayanan Umum (restoran, stasiun, bandara, mall, bank atau berjualan di pasar)?</h3>
                                <div class="form-group">
                                    <label class="container_radio version_2">
                                        Ya
                                        <input type="radio" name="question13" value="Ya" class="required" id="2">
                                        <span class="checkmark"></span>
                                    </label>
                                    <label class="container_radio version_2">
                                        Tidak
                                        <input type="radio" name="question13" value="Tidak" class="required" id="3">
                                        <span class="checkmark"></span>
                                    </label>
                                </div>

                                <div class="add_bottom_45"></div>

                                <h3 class="main_question"><i class="arrow_right"></i>Apakah ada ditemukan positif Covid19 di lingkungan/ RT tempat tinggal Anda?</h3>
                                <div class="form-group">
                                    <label class="container_radio version_2">
                                        Ya
                                        <input type="radio" name="question14" value="Ya" class="required" id="2">
                                        <span class="checkmark"></span>
                                    </label>
                                    <label class="container_radio version_2">
                                        Tidak
                                        <input type="radio" name="question14" value="Tidak" class="required" id="3">
                                        <span class="checkmark"></span>
                                    </label>
                                </div>
                            </div>
                            <!-- /step-->
                            <!-- /Start Branch ============================== -->
                            <div class="step" data-state="branchtype">
                                <label class="custom add_top_10"></label>
                                <h3 class="main_question"><i class="arrow_right"></i>Apakah anda dalam 30 hari terakhir, melakukan perjalanan dari Luar Jabodetabek?</h3>
                                <div class="form-group">
                                    <label class="container_radio version_2">
                                        Ya
                                        <input type="radio" name="question15" value="Yes" class="required" id="3">
                                        <span class="checkmark"></span>
                                    </label>
                                    <label class="container_radio version_2">
                                        Tidak
                                        <input type="radio" name="question15" value="End" class="required" id="3">
                                        <span class="checkmark"></span>
                                    </label>
                                </div>
                            </div>

                            <!-- /difficulty in breathing > Yes ============================== -->
                            <div class="branch" id="Yes">
                                <div class="step" data-state="branchtype">
                                    <h3 class="main_question"><i class="arrow_right"></i>Apakah Anda sudah selesai menjalani isolasi mandiri 14 hari?</h3>
                                    <div class="form-group">
                                        <label class="container_radio version_2">
                                            Sudah
                                            <input type="radio" name="question16" value="Yes1" class="required" id="3">
                                            <span class="checkmark"></span>
                                        </label>
                                        <label class="container_radio version_2">
                                            Belum
                                            <input type="radio" name="question16" value="Yes1" class="required" id="3">
                                            <span class="checkmark"></span>
                                        </label>
                                    </div>
                                </div>
                            </div>

                            <div class="branch" id="Yes1">
                                <div class="step" data-state="branchtype">
                                    <h3 class="main_question"><i class="arrow_right"></i>Apakah Anda sudah melakukan Rapid Test/PCR/Swab Test?</h3>
                                    <div class="form-group">
                                        <label class="container_radio version_2">
                                            Sudah
                                            <input type="radio" name="question17" value="Yes2" class="required" id="3">
                                            <span class="checkmark"></span>
                                        </label>
                                        <label class="container_radio version_2">
                                            Belum
                                            <input type="radio" name="question17" value="End" class="required" id="1">
                                            <span class="checkmark"></span>
                                        </label>
                                    </div>
                                </div>
                            </div>

                            <div class="branch" id="Yes2">
                                <div class="step" data-state="branchtype">
                                    <h3 class="main_question"><i class="arrow_right"></i>Hasil Rapid Test/PCR/Swab Test?</h3>
                                    <div class="form-group">
                                        <label class="container_radio version_2">
                                            Reaktif
                                            <input type="radio" name="question18" value="End" class="required" id="1">
                                            <span class="checkmark"></span>
                                        </label>
                                        <label class="container_radio version_2">
                                            Non Reaktif
                                            <input type="radio" name="question18" value="End" class="required" id="3">
                                            <span class="checkmark"></span>
                                        </label>
                                        <label class="container_radio version_2">
                                            Positif
                                            <input type="radio" name="question18" value="End" class="required" id="1">
                                            <span class="checkmark"></span>
                                        </label>
                                        <label class="container_radio version_2">
                                            Negatif
                                            <input type="radio" name="question18" value="End" class="required" id="3">
                                            <span class="checkmark"></span>
                                        </label>
                                        <label class="container_radio version_2">
                                            Belum Ada Hasil
                                            <input type="radio" name="question18" value="End" class="required" id="1">
                                            <span class="checkmark"></span>
                                        </label>
                                    </div>
                                    <small>* Hasil rapid test wajib diserahakan ke HRD</small>
                                </div>
                            </div>

                            <!-- /step-->
                            <!-- /difficulty in breathing > No ============================== -->
                            <div class="submit step" id="End">
                                <div class="summary">
                                    <div class="wrapper">
                                        <h5>Terima kasih atas waktunya <b>@Context.Session.GetString("_UserName")</b>.</h5>
                                        <p>Untuk mengetahui hasil akhir Anda wajib membaca dan menyetujui <a href="#" data-toggle="modal" data-target="#modal-terms">Pakta Integritas</a>.</p>
                                    </div>
                                    <div class="text-center">
                                        <div class="form-group terms">
                                            <input asp-for="IsApproved" type="hidden">
                                            <label class="container_check">
                                                Dengan ini saya menyatakan menandatangani <a href="#" data-toggle="modal" data-target="#modal-terms">Pakta Integritas</a>
                                                <input type="checkbox" name="terms" id="chkAgree" value="1" class="required">
                                                <span class="checkmark"></span>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- /step last-->

                        </div>
                        <!-- /middle-wizard -->

                    }
                    else if (@Context.Session.GetString("_Region") == "Balikpapan")
                    {
                        <div id="middle-wizard">

                            @if (@Model.Gender == 2)
                            {
                                <div class="step">
                                    <h3 class="main_question"><i class="arrow_right"></i>Apakah Anda saat ini dalam kondisi hamil?</h3>
                                    <div class="form-group">
                                        <label class="container_radio version_2">
                                            Ya
                                            <input type="radio" name="question1" value="Ya" class="required" id="2">
                                            <span class="checkmark"></span>
                                        </label>
                                        <label class="container_radio version_2">
                                            Tidak
                                            <input type="radio" name="question1" value="Tidak" class="required" id="3">
                                            <span class="checkmark"></span>
                                        </label>
                                    </div>
                                </div>
                                <!-- /step-->
                            }

                            <div class="step">
                                <h3 class="main_question"><i class="arrow_right"></i>Usia</h3>
                                <div class="form-group">
                                    <label class="container_radio version_2">
                                        Dibawah 50 Tahun
                                        <input type="radio" name="question2" value="Dibawah50Tahun" class="required" id="3">
                                        <span class="checkmark"></span>
                                    </label>
                                    <label class="container_radio version_2">
                                        Diatas 50 Tahun
                                        <input type="radio" name="question2" value="Diatas50Tahun" class="required" id="2">
                                        <span class="checkmark"></span>
                                    </label>
                                </div>
                            </div>
                            <!-- /step-->

                            <div class="step">
                                <h3 class="main_question"><i class="arrow_right"></i>Status tempat tinggal</h3>
                                <div class="form-group">
                                    <label class="container_radio version_2">
                                        Kost
                                        <input type="radio" name="question3" value="kost" class="required" id="2">
                                        <span class="checkmark"></span>
                                    </label>
                                    <label class="container_radio version_2">
                                        Apartement
                                        <input type="radio" name="question3" value="apartment" class="required" id="2">
                                        <span class="checkmark"></span>
                                    </label>
                                    <label class="container_radio version_2">
                                        Rumah
                                        <input type="radio" name="question3" value="rumah" class="required" id="3">
                                        <span class="checkmark"></span>
                                    </label>
                                </div>

                                <div class="add_bottom_45"></div>

                                <h3 class="main_question"><i class="arrow_right"></i>Tinggal bersama</h3>
                                <div class="form-group">
                                    <label class="container_radio version_2">
                                        Sendiri
                                        <input type="radio" name="question4" value="sendiri" class="required">
                                        <span class="checkmark"></span>
                                    </label>
                                    <label class="container_radio version_2">
                                        Keluarga
                                        <input type="radio" name="question4" value="keluarga" class="required">
                                        <span class="checkmark"></span>
                                    </label>
                                </div>
                            </div>
                            <!-- /step-->

                            <div class="step">
                                <h3 class="main_question"><i class="arrow_right"></i>Kendaraan yang digunakan ke kantor</h3>
                                <div class="form-group">
                                    <label class="container_radio version_2">
                                        Pribadi
                                        <input type="radio" name="question5" value="Pribadi" class="required" id="3">
                                        <span class="checkmark"></span>
                                    </label>
                                    <label class="container_radio version_2">
                                        Umum
                                        <input type="radio" name="question5" value="Umum" class="required" id="1">
                                        <span class="checkmark"></span>
                                    </label>
                                </div>
                            </div>
                            <!-- /step-->

                            <div class="step">
                                <h3 class="main_question">
                                    <i class="arrow_right"></i>Dalam 14 hari terakhir, apakah Anda menggunakan transportasi umum (Include Grab/Gocar)
                                </h3>
                                <div class="form-group">
                                    <label class="container_radio version_2">
                                        Ya
                                        <input type="radio" name="question6" value="Pribadi" class="required" id="1">
                                        <span class="checkmark"></span>
                                    </label>
                                    <label class="container_radio version_2">
                                        Tidak
                                        <input type="radio" name="question6" value="Pribadi" class="required" id="3">
                                        <span class="checkmark"></span>
                                    </label>
                                </div>
                            </div>
                            <!-- /step-->

                            <div class="step">
                                <h3 class="main_question">
                                    <i class="arrow_right"></i>
                                    Dalam 14 hari terakhir, apakah Anda menghadiri acara (dengan jumlah peserta lebih dari 10 orang. Seperti Acara Pernikahan, Seminar, Kitanan, Pesta Perayaan, Mall)?
                                </h3>
                                <div class="form-group">
                                    <label class="container_radio version_2">
                                        Ya
                                        <input type="radio" name="question7" value="code" class="required" id="1">
                                        <span class="checkmark"></span>
                                    </label>
                                    <label class="container_radio version_2">
                                        Tidak
                                        <input type="radio" name="question7" value="code" class="required" id="3">
                                        <span class="checkmark"></span>
                                    </label>
                                </div>

                                <div class="add_bottom_45"></div>

                                <h3 class="main_question"><i class="arrow_right"></i>Dalam 14 hari terakhir, apakah Anda mengunjungi tempat umum (Pasar/Rumah ibadah/Rumah sakit/minimarket di luar komplek seperti indomaret)?</h3>
                                <div class="form-group">
                                    <label class="container_radio version_2">
                                        Ya
                                        <input type="radio" name="question8" value="code" class="required" id="2">
                                        <span class="checkmark"></span>
                                    </label>
                                    <label class="container_radio version_2">
                                        Tidak
                                        <input type="radio" name="question8" value="code" class="required" id="3">
                                        <span class="checkmark"></span>
                                    </label>
                                </div>
                            </div>
                            <!-- /step-->

                            <div class="step">
                                <h3 class="main_question"><i class="arrow_right"></i>Dalam 14 hari terakhir, apakah Anda mengalami sakit dengan gejala batuk, pilek, flu, demam, sakit, sesak nafas, dan sakit tenggorokan?</h3>
                                <div class="form-group">
                                    <label class="container_radio version_2">
                                        Ya
                                        <input type="radio" name="question9" value="Ya" class="required" id="1">
                                        <span class="checkmark"></span>
                                    </label>
                                    <label class="container_radio version_2">
                                        Tidak
                                        <input type="radio" name="question9" value="Tidak" class="required" id="3">
                                        <span class="checkmark"></span>
                                    </label>
                                </div>

                                <div class="add_bottom_45"></div>

                                <h3 class="main_question"><i class="arrow_right"></i>Apakah anda memiliki history penyakit yang cukup serius seperti kardiovaskular (jantung), gangguan pernafasan kronis (paru-paru), diabetes, ginjal, kanker, hipertensi?</h3>
                                <div class="form-group">
                                    <label class="container_radio version_2">
                                        Ya
                                        <input type="radio" name="question10" value="Ya" class="required" id="2">
                                        <span class="checkmark"></span>
                                    </label>
                                    <label class="container_radio version_2">
                                        Tidak
                                        <input type="radio" name="question10" value="Tidak" class="required" id="3">
                                        <span class="checkmark"></span>
                                    </label>
                                </div>
                            </div>
                            <!-- /step-->

                            <div class="step">
                                <h3 class="main_question"><i class="arrow_right"></i>Dalam 14 hari terakhir, apakah Anda pernah kontak dengan Pasien Positif Covid19?</h3>
                                <div class="form-group">
                                    <label class="container_radio version_2">
                                        Ya
                                        <input type="radio" name="question11" value="Ya" class="required" id="1">
                                        <span class="checkmark"></span>
                                    </label>
                                    <label class="container_radio version_2">
                                        Tidak
                                        <input type="radio" name="question11" value="Tidak" class="required" id="3">
                                        <span class="checkmark"></span>
                                    </label>
                                </div>

                                <div class="add_bottom_45"></div>

                                <h3 class="main_question"><i class="arrow_right"></i>Dalam 30 hari terakhir, apakah ada anggota keluarga dalam satu rumah ada dinyatakan positif Covid19?</h3>
                                <div class="form-group">
                                    <label class="container_radio version_2">
                                        Ya
                                        <input type="radio" name="question12" value="Ya" class="required" id="1">
                                        <span class="checkmark"></span>
                                    </label>
                                    <label class="container_radio version_2">
                                        Tidak
                                        <input type="radio" name="question12" value="Tidak" class="required" id="3">
                                        <span class="checkmark"></span>
                                    </label>
                                </div>
                            </div>
                            <!-- /step-->

                            <div class="step">
                                <h3 class="main_question"><i class="arrow_right"></i>Apakah ada anggota anggota keluarga dalam satu rumah bekerja di Rumah Sakit/ Klinik, Tempat Pelayanan Umum (restoran, stasiun, bandara, mall, bank atau berjualan di pasar)?</h3>
                                <div class="form-group">
                                    <label class="container_radio version_2">
                                        Ya
                                        <input type="radio" name="question13" value="Ya" class="required" id="2">
                                        <span class="checkmark"></span>
                                    </label>
                                    <label class="container_radio version_2">
                                        Tidak
                                        <input type="radio" name="question13" value="Tidak" class="required" id="3">
                                        <span class="checkmark"></span>
                                    </label>
                                </div>

                                <div class="add_bottom_45"></div>

                                <h3 class="main_question"><i class="arrow_right"></i>Dalam 14 hari terakhir, apakah ada ditemukan Positif Covid19 dilingkungan/RT tempat tinggal Anda?</h3>
                                <div class="form-group">
                                    <label class="container_radio version_2">
                                        Ya
                                        <input type="radio" name="question14" value="Ya" class="required" id="1">
                                        <span class="checkmark"></span>
                                    </label>
                                    <label class="container_radio version_2">
                                        Tidak
                                        <input type="radio" name="question14" value="Tidak" class="required" id="3">
                                        <span class="checkmark"></span>
                                    </label>
                                </div>
                            </div>
                            <!-- /step-->
                            <!-- /Start Branch ============================== -->
                            <div class="step" data-state="branchtype">
                                <label class="custom add_top_10"></label>
                                <h3 class="main_question"><i class="arrow_right"></i>Apakah Anda dalam 30 hari terakhir, melakukan perjalanan dari luar KALIMANTAN TIMUR? (Perjalan Dinas/Cuti)</h3>
                                <div class="form-group">
                                    <label class="container_radio version_2">
                                        Ya
                                        <input type="radio" name="question15" value="Yes" class="required" id="2">
                                        <span class="checkmark"></span>
                                    </label>
                                    <label class="container_radio version_2">
                                        Tidak
                                        <input type="radio" name="question15" value="End" class="required" id="3">
                                        <span class="checkmark"></span>
                                    </label>
                                </div>
                            </div>

                            <!-- /difficulty in breathing > Yes ============================== -->
                            <div class="branch" id="Yes">
                                <div class="step" data-state="branchtype">
                                    <h3 class="main_question"><i class="arrow_right"></i>Apakah Anda sudah selesai menjalani isolasi mandiri 14 hari?</h3>
                                    <div class="form-group">
                                        <label class="container_radio version_2">
                                            Sudah
                                            <input type="radio" name="question16" value="Yes1" class="required" id="3">
                                            <span class="checkmark"></span>
                                        </label>
                                        <label class="container_radio version_2">
                                            Belum
                                            <input type="radio" name="question16" value="Yes1" class="required" id="2">
                                            <span class="checkmark"></span>
                                        </label>
                                    </div>
                                </div>
                            </div>

                            <div class="branch" id="Yes1">
                                <div class="step" data-state="branchtype">
                                    <h3 class="main_question"><i class="arrow_right"></i>Apakah Anda sudah melakukan Rapid Test/PCR/Swab Test?</h3>
                                    <div class="form-group">
                                        <label class="container_radio version_2">
                                            Sudah
                                            <input type="radio" name="question17" value="Yes2" class="required" id="3">
                                            <span class="checkmark"></span>
                                        </label>
                                        <label class="container_radio version_2">
                                            Belum
                                            <input type="radio" name="question17" value="End" class="required" id="1">
                                            <span class="checkmark"></span>
                                        </label>
                                    </div>
                                </div>
                            </div>

                            <div class="branch" id="Yes2">
                                <div class="step" data-state="branchtype">
                                    <h3 class="main_question"><i class="arrow_right"></i>Hasil Rapid Test/PCR/Swab Test?</h3>
                                    <div class="form-group">
                                        <label class="container_radio version_2">
                                            Reaktif
                                            <input type="radio" name="question18" value="End" class="required" id="1">
                                            <span class="checkmark"></span>
                                        </label>
                                        <label class="container_radio version_2">
                                            Non Reaktif
                                            <input type="radio" name="question18" value="End" class="required" id="3">
                                            <span class="checkmark"></span>
                                        </label>
                                        <label class="container_radio version_2">
                                            Positif
                                            <input type="radio" name="question18" value="End" class="required" id="1">
                                            <span class="checkmark"></span>
                                        </label>
                                        <label class="container_radio version_2">
                                            Negatif
                                            <input type="radio" name="question18" value="End" class="required" id="3">
                                            <span class="checkmark"></span>
                                        </label>
                                        <label class="container_radio version_2">
                                            Belum Ada Hasil
                                            <input type="radio" name="question18" value="End" class="required" id="1">
                                            <span class="checkmark"></span>
                                        </label>
                                    </div>
                                    <small>* Hasil rapid test wajib diserahakan ke HRD</small>
                                </div>
                            </div>

                            <!-- /step-->
                            <!-- /difficulty in breathing > No ============================== -->
                            <div class="submit step" id="End">
                                <div class="summary">
                                    <div class="wrapper">
                                        <h5>Terima kasih atas waktunya <b>@Context.Session.GetString("_UserName")</b>.</h5>
                                        <p>Untuk mengetahui hasil akhir Anda wajib membaca dan menyetujui <a href="#" data-toggle="modal" data-target="#modal-terms">Pakta Integritas</a>.</p>
                                    </div>
                                    <div class="text-center">
                                        <div class="form-group terms">
                                            <input asp-for="IsApproved" type="hidden">
                                            <label class="container_check">
                                                Dengan ini saya menyatakan menandatangani <a href="#" data-toggle="modal" data-target="#modal-terms">Pakta Integritas</a>
                                                <input type="checkbox" name="terms" id="chkAgree" value="1" class="required">
                                                <span class="checkmark"></span>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- /step last-->

                        </div>
                        <!-- /middle-wizard -->
                    }

                    <div id="bottom-wizard">
                        <button type="button" name="backward" class="backward" id="btn-backward">Prev</button>
                        <button type="button" name="forward" class="forward">Next</button>
                        <button class="btn_1 add_top_15" id="btn-submit-survey" hidden>Submit</button>

                    </div>
                    <!-- /bottom-wizard -->
                </form>
            </div>
            <!-- /Wizard container -->
        </div>
    </div><!-- /Row -->
</div><!-- /Form_container -->

<!-- Modal terms -->
<div class="modal fade" id="modal-terms" tabindex="-1" role="dialog" aria-labelledby="termsLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="termsLabel">Pakta Integritas</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
            <div class="modal-body">
                <p style="line-height: 1.6;">Dengan ini menyatakan janji dan komitmen dalam mematuhi Protokol Pencegahan dan Pengendalian Covid19 diantaranya :</p>

                <ol style="list-style-type: decimal; margin-left:20px;line-height: 1.6;">
                    <li>
                        Bersedia bersikap terbuka dan sejujur-jujurnya memberikan/ melaporkan setiap saat segala informasi kepada perusahaan terkait dengan langkah pencegahan dan pengendalian Covid19, tidak terbatas pada informasi :

                        <ol style="list-style-type: lower-alpha; margin-left:20px;line-height: 1.6;">
                            <li>Kondisi Kesehatan Pribadi Karyawan terupdate</li>
                            <li>Kondisi Kesehatan Anggota Keluarga Karyawan (dalam satu rumah) terupdate</li>
                            <li>Kondisi Kesehatan Lingkungan Tempat Tinggal dan lainnya yang terupdate</li>
                        </ol>
                    </li>
                    <li>Bersedia dengan jujur dan memberikan data yang benar dalam pengisian Form Self Assessment</li>
                    <li>Bersedia mematuhi dan menjalankan kebijakan dan Protokol Pencegahan Covid19 yang telah ditetapkan oleh Perusahaan di Lingkungan Kerja maupun di Luar Lingkungan Kerja</li>
                </ol>

                <p style="line-height: 1.6;">Demikian Pakta Integritas ini saya buat dengan benar. Apabila saya melanggar Pakta Integritas ini, saya bersedia dikenakan sanksi sesuai dengan ketentuan yang berlaku.</p>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn_1" data-dismiss="modal">Setuju</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->

@section Scripts {
    <environment include="Development">
        <script type="text/javascript" src="~/selfassessment/survey.js?@num"></script>
    </environment>
    <environment exclude="Development">
        <script type="text/javascript" src="~/selfassessment/survey.min.js?@num"></script>
    </environment>
}