﻿@{
    ViewData["Title"] = "Home Page";

    var date = DateTime.Now.ToString("dd MMMM yyyy");
}

<div id="form_container">
    <div class="row no-gutters">
        <div class="col-lg-12">

            @if (@ViewBag.ColorCode == 1)
            {
                <div id="left_form" class="bg-danger red-code">
                    <p>Hasil Assessment Hari Ini<br />@date</p>
                    <figure><img class="shadow" src="@ViewBag.QrCode" width="50%"></figure>
                    <h2>DILARANG MASUK KANTOR!<p class="add_top_30">BEKERJA DARI RUMAH SAJA <br />DAN JAGA KESEHATAN</p></h2>
                </div>
            }

            @if (@ViewBag.ColorCode == 2)
            {
                <div id="left_form" class="bg-warning yellow-code">
                    <p>Hasil Assessment Hari Ini<br />@date</p>
                    <figure><img class="shadow" src="@ViewBag.QrCode" alt="qr" width="50%"></figure>
                    <h2>BOLEH MASUK KANTOR!<p class="add_top_30">HARAP HATI-HATI!<br />JAGA KESEHATAN, JAGA JARAK <br />DAN PAKAI MASKER</p></h2>
                </div>
            }

            @if (@ViewBag.ColorCode == 3)
            {
                <div id="left_form" class="bg-success green-code">
                    <p>Hasil Assessment Hari Ini<br />@date</p>
                    <figure><img class="shadow" src="@ViewBag.QrCode" width="50%"></figure>
                    <h2>SELAMAT BEKERJA!<p class="add_top_30">SEMANGAT! <br />JAGA KESEHATAN, JAGA JARAK, <br />DAN PAKAI MASKER</p></h2>
                </div>
            }

            @if (@ViewBag.ColorCode == 400)
            {
                <div class="col-lg-12">
                    <small class="form-text text-muted text-center">
                        Hasil belum ada. Silahkan isi Assessment hari ini.
                    </small>
                </div>
            }
        </div>
    </div><!-- /Row -->
</div><!-- /Form_container -->
