﻿@using Microsoft.AspNetCore.Http;
@{
    var num = DateTime.Now.Ticks;
    ViewData["Title"] = "Assessment";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>@ViewData["Title"] | First Resources Group</title>

    <!-- Favicons-->
    <link rel="shortcut icon" href="~/images/favicon.ico" type="image/x-icon">

    <!-- GOOGLE WEB FONT -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700&display=swap" rel="stylesheet">

    <!-- BASE CSS -->
    <link href="~/lib/lib/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/lib/lib/css/menu.css" rel="stylesheet">
    <link href="~/lib/lib/css/style.css" rel="stylesheet">
    <link href="~/lib/lib/css/vendors.css" rel="stylesheet">

    <!--DATATABLES -->
    <link rel="stylesheet" type="text/css" href="~/lib/lib/css/dataTables.bootstrap.min.css" />

    <!--DATERANGEPICKER -->
    <link rel="stylesheet" type="text/css" href="~/lib/lib/css/daterangepicker.css" />

    <!-- YOUR CUSTOM CSS -->
    <link href="~/lib/lib/css/custom.css" rel="stylesheet">
    <link href="~/css/site.css" rel="stylesheet" type="text/css" />

    <!-- Select Picker -->
    <link href="~/lib/lib/css/bootstrap-select.min.css" rel="stylesheet" type="text/css" />

    <!-- Toastr -->
    <link href="~/lib/lib/css/toastr/toastr.min.css" rel="stylesheet" />

    <!-- MODERNIZR MENU -->
    <script src="~/lib/lib/js/modernizr.js"></script>

</head>

<body>

    <div id="preloader">
        <div data-loader="circle-side"></div>
    </div><!-- /Preload -->

    <div id="loader_form">
        <div data-loader="circle-side-2"></div>
    </div><!-- /loader_form -->

    <header>
        @await Html.PartialAsync("~/Views/Shared/Partial/_TopBar.cshtml")
    </header>
    <!-- /Header -->

    <div class="container">
        @RenderBody()
    </div>
    <!-- /container -->

    <div class="container">
        <footer id="home" class="clearfix">
            <p><a href="@Url.Action("Faq", "Home")">FAQ</a> | © 2020 First Resources</p>
        </footer>
        <!-- end footer-->
    </div>
    <!-- /container -->

    <div class="cd-overlay-nav">
        <span></span>
    </div>
    <!-- /cd-overlay-nav -->

    <div class="cd-overlay-content">
        <span></span>
    </div>
    <!-- /cd-overlay-content -->
    <!-- COMMON SCRIPTS -->

    <script src="~/lib/lib/js/jquery-3.2.1.min.js"></script>
    <script src="~/lib/lib/js/jquery-ui-1.8.22.min.js"></script>

    <script src="~/lib/lib/js/common_scripts.min.js"></script>
    <script src="~/lib/lib/js/velocity.min.js"></script>
    <script src="~/lib/lib/js/common_functions.js"></script>

    <!-- Wizard script-->
    <script src="~/lib/lib/js/func_1.js"></script>

    <!-- Select Picker -->
    <script src="~/lib/lib/js/bootstrap-select.min.js"></script>

    <!--DataTables -->
    <script src="~/lib/lib/js/jquery.dataTables.min.js"></script>
    <script src="~/lib/lib/js/dataTables.bootstrap.min.js"></script>

    <script src="~/lib/lib/js/dataTables.buttons.min.js"></script>
    <script src="~/lib/lib/js/jszip.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
    <script src="~/lib/lib/js/vfs_fonts.js"></script>
    <script src="~/lib/lib/js/buttons.html5.min.js"></script>

    <!--DateRangePicker -->
    <script type="text/javascript" src="~/lib/lib/js/moment.min.js"></script>
    <script type="text/javascript" src="~/lib/lib/js/daterangepicker.min.js"></script>

    <!-- Toastr -->
    <script src="~/lib/lib/css/toastr/toastr.min.js" type="text/javascript"></script>
    
    <script type="text/javascript" src="~/js/aes.js"></script>

    <script src="~/selfassessment/selfassessment.bundle.min.js?@num" type="text/javascript"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>