﻿@using Microsoft.AspNetCore.Http.Features

@{
    ViewData["Title"] = "Self Assessment Kesehatan";
    Layout = null;

    long num = DateTime.Now.Ticks;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="0" />
    <title>@ViewData["Title"] | First Resources Group</title>

    <!-- Favicons-->
    <link rel="shortcut icon" href="~/images/favicon.ico" type="image/x-icon">

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute"
              crossorigin="anonymous"
              integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" />
    </environment>

    <!-- GOOGLE WEB FONT -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700&display=swap" rel="stylesheet">

    <!-- BASE CSS -->
    <link href="~/lib/lib/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/lib/lib/css/menu.css" rel="stylesheet">
    <link href="~/lib/lib/css/style.css" rel="stylesheet">
    <link href="~/lib/lib/css/vendors.css" rel="stylesheet">

    <!-- YOUR CUSTOM CSS -->
    <link href="~/lib/lib/css/custom.css" rel="stylesheet">
    <link href="~/css/site.css" rel="stylesheet">

    <!-- Toastr -->
    <link href="~/lib/lib/css/toastr/toastr.min.css" rel="stylesheet" />

    <!-- MODERNIZR MENU -->
    <script src="~/lib/lib/js/modernizr.js"></script>

</head>
<body>

    <div id="preloader">
        <div data-loader="circle-side"></div>
    </div><!-- /Preload -->

    <div id="loader_form">
        <div data-loader="circle-side-2"></div>
    </div><!-- /loader_form -->

    <header>
        <div class="container">
            <div class="row">
                <div class="col-3">
                    <a href="index.html"><img src="~/images/logo.svg" alt="" width="274" height="100" class="d-none d-md-block"><img src="~/images/logo.svg" alt="Logo" width="205" height="75" class="d-block d-md-none"></a>
                </div>
            </div>
        </div>
        <!-- /container -->
    </header>
    <!-- /Header -->

    <main id="general_page">
        <!-- end map-->
        <div class="container margin_60_35">
            <div class="row">
                <div class="col-lg-12">
                    <h3>HALAMAN TIDAK DITEMUKAN!</h3>
                    <div class="row">
                        <div class="col-md-6">
                            <button class="btn_1 add_top_15" onclick="location.href='@Url.Action("Index", "Account")'">
                                <i class="glyphicon glyphicon-arrow-left mr-1"></i> Kembali ke Assessment
                            </button>
                        </div>
                    </div>
                </div>
                <!-- End col lg 12 -->
            </div>
            <!-- end row-->
        </div>
        <!-- end container-->
    </main>

    <footer class="footer_in clearfix">
        <div class="container">
            <p>© 2020 First Resources</p>
        </div>
    </footer>
    <!-- end footer-->

    <script type="text/javascript" src="~/js/aes.js"></script>
    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=">
        </script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-xrRywqdh3PHs8keKZN+8zzc5TX0GRTLCcmivcbNJWm2rs5C8PRhcEn3czEjhAO9o">
        </script>
    </environment>

    <!-- COMMON SCRIPTS -->
    <script src="~/lib/lib/js/jquery-3.2.1.min.js"></script>
    <script src="~/lib/lib/js/common_scripts.min.js"></script>
    <script src="~/lib/lib/js/velocity.min.js"></script>
    <script src="~/lib/lib/js/common_functions.js"></script>

    <!-- SPECIFIC SCRIPTS -->
    @*<script src="assets/validate.js"></script>*@

    <!-- Toastr -->
    <script src="~/lib/lib/css/toastr/toastr.min.js" type="text/javascript"></script>

    <script src="~/selfassessment/selfassessment.bundle.js?@num" type="text/javascript"></script>
    <script src="~/selfassessment/login.js?@num" type="text/javascript"></script>

</body>
</html>