﻿@using Microsoft.AspNetCore.Http;
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    var num = DateTime.Now.Ticks;
}

<div id="form_container">
    <div class="row no-gutters">
        <div class="col-lg-12">
            <div id="left_form" class="bg-white">
                <!-- /top-wizard -->
                <form id="wrapped" method="post">
                    <div id="middle-wizard">
                        
                        <div class="step">
                            <h3 class="main_question"></i>Change Password</h3>

                            <div class="form-group add_top_30">
                                <label id="lbl_OldPassword" for="OldPassword">Old Password</label>
                                <input type="password" class="form-control input-custom" id="OldPassword" name="Password" required />
                            </div>

                            <div class="form-group add_top_30">
                                <label id="lbl_NewPassword" for="NewPassword">New Password</label>
                                <input type="password" class="form-control input-custom" id="NewPassword" name="Password2" required />
                            </div>

                            <div class="form-group add_top_30">
                                <label id="lbl_ConfirmPassword" for="ConfirmPassword">Confirm Password</label>
                                <input type="password" class="form-control input-custom" id="ConfirmPassword" name="Password3" required />
                            </div>

                            <button class="btn_1" id="btn-change-password"><span>Change Password</span></button>
                        </div>

                    </div>
                </form>
            </div>
            <!-- /Wizard container -->
        </div>
    </div><!-- /Row -->
</div><!-- /Form_container -->


@section Scripts {
    <environment include="Development">
        <script type="text/javascript" src="~/selfassessment/changepassword.js?@num"></script>
    </environment>
    <environment exclude="Development">
        <script type="text/javascript" src="~/selfassessment/changepassword.min.js?@num"></script>
    </environment>
}