﻿@using Microsoft.AspNetCore.Http;
@model SelfAssessment.Web.Models.Admin.DashboardModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    var num = DateTime.Now.Ticks;

    var Date = DateTime.Now.ToString("dd MMMM yyyy");

}

<main id="general_page">
    <!-- end map-->
    <div class="container margin_60_35">
        <div class="row">
            <div class="col-lg-12">
                <h3>Dashboard Self Assessment Kesehatan</h3>
                <p>
                    <span>Report hari ini Tanggal : </span>@Date
                </p>
                <div class="row">
                    <div class="col-sm">
                        <div class="p-3 mb-2 bg-success text-white rounded text-center font-weight-bold">
                            @Model.TotalWarnaHijau<span> Orang</span>
                        </div>
                    </div>
                    <div class="col-sm">
                        <div class="p-3 mb-2 bg-warning text-white rounded text-center font-weight-bold">
                            @Model.TotalWarnaKuning<span> Orang</span>
                        </div>
                    </div>
                    <div class="col-sm">
                        <div class="p-3 mb-2 bg-danger text-white rounded text-center font-weight-bold">
                            @Model.TotalWarnaMerah<span> Orang</span>
                        </div>
                    </div>
                </div>

                <hr class="my-4">

                <a href="#" class="btn btn_1 add_top_20 btn-view-report" role="button">Lihat Semua Report</a>
            </div>
            <!-- End col lg 12 -->
        </div>
        <!-- end row-->
    </div>
    <!-- end container-->
</main>

@section Scripts {
    <environment include="Development">
        <script type="text/javascript" src="~/selfassessment/dashboard.js?@num"></script>
    </environment>
    <environment exclude="Development">
        <script type="text/javascript" src="~/selfassessment/dashboard.min.js?@num"></script>
    </environment>
}