﻿@using Microsoft.AspNetCore.Http;
@model List<SelfAssessment.Web.Models.Admin.ResultSurveyModel>

@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers


<h4 class="modal-title" id="termsLabel">
    Hasil : @Model[0].Result
</h4>

<ol style="list-style-type: decimal; margin-left:20px;line-height: 1.6;">
    @foreach (var data in Model)
    {
        <li>@data.Question</li>
    }
</ol>

