﻿@using Microsoft.AspNetCore.Http;
@model SelfAssessment.Web.Models.Admin.ResultUserModel;
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    var num = DateTime.Now.Ticks;
}

<main id="general_page">
    <!-- end map-->
    <div class="container margin_60_35">
        <div class="row">
            <div class="col-lg-12">
                <h3>Report Self Assessment Kesehatan</h3>
            </div>
        </div>
        <!-- end row-->
    </div>

    <div class="container datatablesreport">
        <div class="row">
            <div class="col-lg-4 mb-4">
                <div class="datesearchbox">
                    <div class="input-group">
                        <div class="input-group-addon">
                            <i class="glyphicon glyphicon-calendar"></i>
                        </div>
                        <input type="text" class="form-control pull-right" id="datesearch" placeholder="Search by date range..">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container datatablesreport">
        <div class="row">
            <div class="col-md-12">
                <table id="grid-report" class="table table-hover table-bordered"></table>
            </div>
        </div>
    </div>
    <!-- end container-->
</main>

<!-- Modal detail -->
<div class="modal fade" id="detail-report" tabindex="-1" role="dialog" aria-labelledby="termsLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
            <div class="modal-body" style="font-size: 0.75rem;">


            </div>
            <div class="modal-footer">
                <button type="button" class="btn_1" data-dismiss="modal">Close</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->

@section Scripts {
    <environment include="Development">
        <script type="text/javascript" src="~/selfassessment/report.js?@num"></script>
    </environment>
    <environment exclude="Development">
        <script type="text/javascript" src="~/selfassessment/report.min.js?@num"></script>
    </environment>
}