﻿@using Microsoft.AspNetCore.Http;
@model SelfAssessment.Web.Models.Admin.UserAdminModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    var num = DateTime.Now.Ticks;
}

<main id="general_page">
    <div class="container datatablesreport">

        <div class="row">
            <div class="form-group">
                <div class="col-md-12">
                    <button class="btn_1 add_top_15" id="btn-add-user">New User</button>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <table id="grid-user" class="table table-hover table-bordered"></table>
            </div>
        </div>
    </div>
</main>

<div class="modal fade" id="user-modal" tabindex="-1" role="dialog" aria-labelledby="termsLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">
                    <span id="mdl-user-title">Add User</span>
                </h5>
            </div>
            <div class="modal-body" style="font-size: 0.75rem;">
                <form id="wrapped" method="post">
                    <input asp-for="Id" type="hidden" />
                    <div class="step">
                        <div class="form-group ">
                            <label for="UserId" id="lbl_UserId">User ID</label>
                            <input type="text" name="name" id="UserId" class="form-control required text-lowercase" />
                        </div>
                        <div class="form-group ">
                            <label for="UserName" id="lbl_UserName">User Name</label>
                            <input type="text" name="name" id="UserName" class="form-control required" />
                        </div>
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-6 col-12">
                                <div class="form-group">
                                    <label for="UserRole" id="lbl_UserRole">User Role</label>
                                    <input type="text" name="name" id="UserRole" class="form-control required" value="Admin" disabled />
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-12">
                                <div class="form-group selectsearch">
                                    <label asp-for="RegionId" id="lbl_Region">Region</label>
                                    <select class="form-control selected" asp-for="RegionId" asp-items="Model.RegionOptions" data-live-search="true"></select>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button class="btn_1" id="btn-submit-user"><span>Save</span></button>
                <button type="button" class="btn btn-danger" id="btn-close-modal" data-dismiss="modal">Close</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

<div class="modal fade" id="user-modal-delete" tabindex="-1" role="dialog" aria-labelledby="termsLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">
                    <span id="mdl-user-title">Delete Account</span>
                </h5>
            </div>
            <div class="modal-body" style="font-size: 0.75rem;">
                <form id="wrappeds" method="post">
                    <span>Are you sure you want to delete this account?</span>
                </form>
            </div>
            <div class="modal-footer">
                <button class="btn btn-success" id="btn-delete-user"><i class="glyphicon glyphicon-ok"></i><span> Yes</span></button>
                <button class="btn btn-danger" id="btn-close-modal" data-dismiss="modal"><i class="glyphicon glyphicon-remove"></i><span> No</span></button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>


@section Scripts {
    <environment include="Development">
        <script type="text/javascript" src="~/selfassessment/users.js?@num"></script>
    </environment>
    <environment exclude="Development">
        <script type="text/javascript" src="~/selfassessment/users.min.js?@num"></script>
    </environment>
}