﻿@using Microsoft.AspNetCore.Http;
@model SelfAssessment.Web.Models.Account.EmployeeModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    var num = DateTime.Now.Ticks;
}

<div id="form_container">   
    <div class="row no-gutters">
        <div class="col-lg-4">
            <div id="left_form">
                <figure><img src="~/images/info_graphic_1.svg" alt="" width="100" height="100"></figure>
                <h2>CORONAVIRUS <span>Self Assessment Kesehatan</span></h2>
                <p>Selamat Datang <b>@Context.Session.GetString("_UserName")</b></p>
                <a class="btn_1 rounded yellow">Isi Sekarang</a>
            </div>
        </div>
        <div class="col-lg-8">
            <div id="wizard_container">
                <div id="top-wizard">
                    <div id="progressbar"></div>
                    <span id="location"></span>
                </div>
                <!-- /top-wizard -->
                <form id="wrapped" method="post">
                    <input asp-for="MasterDataUserId" type="hidden" />
                    <input id="website" name="website" type="text" value="">
                    <!-- Leave for security protection, read docs for details -->
                    <div id="middle-wizard">
                        <div class="step">
                            <h3 class="main_question"><i class="arrow_right"></i>Isi data pribadi Anda</h3>
                            <div class="form-group add_top_30">
                                <label for="NIK">NIK</label>
                                <input type="text" name="name" id="NIK" class="form-control" value="@Model.NIK" disabled>
                            </div>
                            <div class="form-group add_top_30">
                                <label for="Name">Name</label>
                                <input type="text" name="name" id="Name" class="form-control" value="@Model.EmployeeName" disabled>
                            </div>
                            <div class="form-group">
                                <label for="Email">Email</label>
                                <input type="text" name="name" id="Email" class="form-control" value="@Model.Email" disabled>
                            </div>
                            <div class="form-group">
                                <label id="lbl_Address" for="Address">Alamat Tempat Tinggal</label>
                                <input type="text" name="name" id="Address" class="form-control required" value="@Model.Address">
                            </div>
                            <div class="row">
                                <div class="col-lg-6 col-md-6 col-sm-6 col-12">
                                    <div class="form-group selectsearch">
                                        <label asp-for="MasterDataKelurahanId" id="lbl_kelurahan">Kelurahan</label>
                                        <select class="form-control selectpicker" asp-for="MasterDataKelurahanId" asp-items="Model.KelurahanOptions" data-live-search="true"></select>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-6 col-12">
                                    <div class="form-group">
                                        <label id="lbl_Kota" for="Kota">Kota</label>
                                        <input type="text" name="name" id="Kota" class="form-control" value="@Model.Kota" disabled>
                                    </div>
                                </div>
                                
                                <div class="col-lg-6 col-md-6 col-sm-6 col-12">
                                    <div class="form-group">
                                        <label id="lbl_Kecamatan" for="Kecamatan">Kecamatan</label>
                                        <input type="text" name="name" id="Kecamatan" class="form-control" value="@Model.Kecamatan" disabled>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-6 col-12">
                                    <div class="form-group">
                                        <label id="lbl_KodePos" for="KodePos">Kode Pos</label>
                                        <input type="text" name="name" id="KodePos" class="form-control" value="@Model.KodePos" disabled>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group radio_input">
                                <label class="container_radio mr-3">
                                    Pria
                                    <input type="radio" name="gender" id="radioPria" value="@Model.Gender" class="required">
                                    <span class="checkmark"></span>
                                </label>
                                <label class="container_radio">
                                    Wanita
                                    <input type="radio" name="gender" id="radioWanita" value="@Model.Gender" class="required">
                                    <span class="checkmark"></span>
                                </label>
                            </div>
                            <input asp-for="Gender" type="hidden">
                            <!-- /row-->
                        </div>
                        <!-- /step-->
                    </div>
                    <!-- /middle-wizard -->
                    <div id="bottom-wizard">
                        <input type="button" value="Update" class="btn_1 add_top_15 bg-success" id="btn-save-data-user">
                    </div>
                    <!-- /bottom-wizard -->
                </form>
            </div>
            <!-- /Wizard container -->
        </div>
    </div><!-- /Row -->
</div><!-- /Form_container -->

@section Scripts {
    <environment include="Development">
        <script type="text/javascript" src="~/selfassessment/employee.js?@num"></script>
    </environment>
    <environment exclude="Development">
        <script type="text/javascript" src="~/selfassessment/employee.min.js?@num"></script>
    </environment>
}