﻿@using Microsoft.AspNetCore.Http.Features

@{
    ViewData["Title"] = "Self Assessment Kesehatan";
    Layout = null;

    long num = DateTime.Now.Ticks;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="0" />
    <title>@ViewData["Title"] | First Resources Group</title>

    <!-- Favicons-->
    <link rel="shortcut icon" href="~/images/favicon.ico" type="image/x-icon">

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute"
              crossorigin="anonymous"
              integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" />
    </environment>

    <!-- GOOGLE WEB FONT -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700&display=swap" rel="stylesheet">

    <!-- BASE CSS -->
    <link href="~/lib/lib/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/lib/lib/css/menu.css" rel="stylesheet">
    <link href="~/lib/lib/css/style.css" rel="stylesheet">
    <link href="~/lib/lib/css/vendors.css" rel="stylesheet">

    <!-- YOUR CUSTOM CSS -->
    <link href="~/lib/lib/css/custom.css" rel="stylesheet">
    <link href="~/css/site.css" rel="stylesheet">

    <!-- Toastr -->
    <link href="~/lib/lib/css/toastr/toastr.min.css" rel="stylesheet" />

    <!-- MODERNIZR MENU -->
    <script src="~/lib/lib/js/modernizr.js"></script>

</head>
<body>

    <div id="preloader">
        <div data-loader="circle-side"></div>
    </div><!-- /Preload -->

    <div id="loader_form">
        <div data-loader="circle-side-2"></div>
    </div><!-- /loader_form -->

    <header>
        <div class="container">
            <div class="row">
                <div class="col-3">
                    <a href="@Url.Action("Index","Account")">
                        <img src="~/images/logo.svg" alt="" width="274" height="100" class="d-none d-md-block">
                        <img src="~/images/logo.svg" alt="Logo" width="205" height="75" class="d-block d-md-none">
                    </a>
                </div>
            </div>
        </div>
        <!-- /container -->
    </header>
    <!-- /Header -->

    <main>
        <!-- end map-->
        <div class="container margin_60_35">
            <div class="row">
                <div class="col-lg-12">
                    <h3>Self Assessment Kesehatan</h3>
                    <p>
                        <small>Silahkan isi ID Login menggunakan ID Email atau User Login Komputer (contoh: namadepan.namabelakang) dan isi password menggunakan password email/komputer Anda.</small>
                    </p>

                    <div class="alert alert-success alert-dismissible" hidden>
                        <button type="button" class="close" data-dismiss="alert">&times;</button>
                        <strong>Success!</strong> Anda telah berhasil login.
                    </div>
                    <div>
                        <div class="alert alert-danger alert-dismissible" id="btn-message-error" hidden>
                            <button type="button" class="close" data-dismiss="alert">&times;</button>
                            <strong>Error!</strong> Pastikan ID Login dan Password sudah benar.
                        </div>
                        <div>
                            <div id="message-contact"></div>
                            <form role="form" class="form-login" novalidate>
                                <div class="row">
                                    <div class="col-md-6 col-sm-6">
                                        <div class="form-group">
                                            <label id="lbl_User_Id" for="UserId">ID Login</label>
                                            <input type="text" class="form-control" id="UserId" name="UserId" required>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-sm-6">
                                        <div class="form-group">
                                            <label id="lbl_Password" for="Password">Password</label>
                                            <input type="password" class="form-control input-custom" id="Password" name="Password" required />
                                            <span>
                                                <i id="eye-Pwd" class="glyphicon glyphicon-eye-open"></i>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <label class="container_check add_top_10" for="defaultLoginFormRemember">
                                            Ingatkan saya
                                            <input type="checkbox" class="required" id="defaultLoginFormRemember">
                                            <span class="checkmark"></span>
                                        </label>
                                        <p>
                                            <button class="btn_1 add_top_15 btn-login" id="loginLoading">Login</button>
                                        </p>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <!-- End col lg 12 -->
                </div>
                <!-- end row-->
            </div>
        </div>
        <!-- end container-->
    </main>

    <footer class="footer_in clearfix">
        <div class="container">
            <p><a href="@Url.Action("Faq", "Home")">FAQ</a> | © 2020 First Resources</p>
        </div>
    </footer>
    <!-- end footer-->

    <script type="text/javascript" src="~/js/aes.js"></script>
    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=">
        </script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-xrRywqdh3PHs8keKZN+8zzc5TX0GRTLCcmivcbNJWm2rs5C8PRhcEn3czEjhAO9o">
        </script>
    </environment>

    <!-- COMMON SCRIPTS -->
    <script src="~/lib/lib/js/jquery-3.2.1.min.js"></script>
    <script src="~/lib/lib/js/common_scripts.min.js"></script>
    <script src="~/lib/lib/js/velocity.min.js"></script>
    <script src="~/lib/lib/js/common_functions.js"></script>

    <!-- SPECIFIC SCRIPTS -->
    @*<script src="assets/validate.js"></script>*@

    <!-- Toastr -->
    <script src="~/lib/lib/css/toastr/toastr.min.js" type="text/javascript"></script>

    <script src="~/selfassessment/selfassessment.bundle.min.js?@num" type="text/javascript"></script>
    <script src="~/selfassessment/login.js?@num" type="text/javascript"></script>

</body>
</html>