﻿@using Microsoft.AspNetCore.Http;

<div class="container">
    <div class="row">
        <div class="col-3">
            <a href="#">
                <img src="~/images/logo.svg" alt="" width="274" height="100" class="d-none d-md-block">
                <img src="~/images/logo.svg" alt="Logo" width="205" height="75" class="d-block d-md-none">
            </a>
        </div>
        <div class="col-9">
            <a href="#0" class="cd-nav-trigger">Menu<span class="cd-icon"></span></a>
            <!-- /menu button -->
            @if (@Context.Session.GetString("_UserLevel") == "USER")
            {
                <nav>
                    <ul class="cd-primary-nav">
                        <li><a href="@Url.Action("Update", "User")" class="animated_link">Data Pribadi</a></li>
                        <li><a href="@Url.Action("Index", "Survey")" class="animated_link">Assessment</a></li>
                        <li><a href="@Url.Action("Result", "Survey")" class="animated_link">Lihat Hasil</a></li>
                        <li><a href="@Url.Action("Logout", "Account")" class="animated_link">Logout</a></li>
                    </ul>
                </nav>
            }
            else if (@Context.Session.GetString("_UserLevel") == "SUPERADMIN" || @Context.Session.GetString("_UserLevel") == "ADMIN")
            {
                <nav>
                    <ul class="cd-primary-nav">
                        <li><a href="@Url.Action("Dashboard", "Admin")" class="animated_link">Dashboard</a></li>
                        <li><a href="@Url.Action("Report", "Admin")" class="animated_link">Report</a></li>
                        @if (@Context.Session.GetString("_UserLevel") == "SUPERADMIN")
                        {
                            <li><a href="@Url.Action("Users", "Admin")" class="animated_link">User Admin</a></li>
                        }
                        <li><a href="@Url.Action("ChangePassword", "Admin")" class="animated_link">Change Password</a></li>
                        <li><a href="@Url.Action("Logout", "Account")" class="animated_link">Logout</a></li>
                    </ul>
                </nav>
            }
            <!-- /menu -->
        </div>
    </div>
</div>
<!-- /container -->