﻿@using Microsoft.AspNetCore.Http;

@{
    ViewData["Title"] = "Self Assessment Kesehatan";
    Layout = null;

    long num = DateTime.Now.Ticks;
}


<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Self Assessment Kesehatan First Resources Group">
    <meta name="author" content="First Resources">
    <title>Frequently Asked Questions | First Resources Group</title>

    <!-- Favicons-->
    <link rel="shortcut icon" href="~/images/favicon.ico" type="image/x-icon">

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute"
              crossorigin="anonymous"
              integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" />
    </environment>

    <!-- GOOGLE WEB FONT -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700&display=swap" rel="stylesheet">

    <!-- BASE CSS -->
    <link href="~/lib/lib/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/lib/lib/css/menu.css" rel="stylesheet">
    <link href="~/lib/lib/css/style.css" rel="stylesheet">
    <link href="~/lib/lib/css/vendors.css" rel="stylesheet">

    <!-- YOUR CUSTOM CSS -->
    <link href="~/lib/lib/css/custom.css" rel="stylesheet">

    <!-- MODERNIZR MENU -->
    <script src="~/lib/lib/js/modernizr.js"></script>

</head>

<body>

    <div id="preloader">
        <div data-loader="circle-side"></div>
    </div><!-- /Preload -->

    <div id="loader_form">
        <div data-loader="circle-side-2"></div>
    </div><!-- /loader_form -->

    <header>
        <div class="container">
            <div class="row">
                <div class="col-3">
                    <a href="@Url.Action("Index","Account")"><img src="~/images/logo.svg" alt="" width="274" height="100" class="d-none d-md-block"><img src="~/images/logo.svg" alt="Logo" width="205" height="75" class="d-block d-md-none"></a>
                </div>
                <div class="col-9 text-right">
                    <a href="#" id="btn-back"><i class="glyphicon glyphicon-arrow-left mr-1 mt-2"></i> Back</a>
                </div>
            </div>
        </div>
        <!-- /container -->
    </header>
    <!-- /Header -->

    <main id="general_page">
        <!-- end map-->
        <div class="container margin_60_35">
            <div class="row">
                <div class="col-lg-12 faq-help">

                    <h3>Frequently Asked Questions?</h3>
                    <p>
                        <small>Berikut pertanyaan yang sering diajukan jika ada masalah login, pengisian dan hasil dari Self Assessment Kesehatan.</small>
                    </p>

                    <div id="accordion">
                        <div class="card">
                            <div class="card-header" id="headingOne">
                                <h5 class="mb-0">
                                    <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                        Kenapa saya tidak bisa akses https://sak.first-resources.com?
                                    </button>
                                </h5>
                            </div>

                            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                                <div class="card-body">
                                    Pastikan perangkat (komputer, laptop atau handphone) Anda terkoneksi internet dengan baik.
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="headingTwo">
                                <h5 class="mb-0">
                                    <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                        Kenapa saya tidak bisa login?
                                    </button>
                                </h5>
                            </div>
                            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                                <div class="card-body">
                                    Pastikan ID Login dan Password Anda sudah benar.
                                    <ol>
                                        <li>Login Self Assessment menggunakan single sign on mengikuti login komputer dan email.</li>
                                        <li>Format ID Login hanya <b>namadepan.namabelakang</b> seperti login komputer/email Anda (tidak memakai @@first-resources atau tambahan lainnya).</li>
                                        <li>Password sama dengan login komputer/email Anda, jika password komputer/email Anda berubah maka password Self Assessment juga ikut berubah.</li>
                                        <li>Jika ada pesan error <i>"The user name or password is incorrect."</i> silahkan cek password pada komputer kantor Anda apakah sudah expired? Jika expired maka diwajibkan untuk mengganti password baru pada komputer kantor, selanjutnya dapat login menggunakan password yang baru sama dengan password komputer/email Anda.</li>
                                    </ol>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="headingThree">
                                <h5 class="mb-0">
                                    <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                        Bagaimana cara mengisi Self Assessment?
                                    </button>
                                </h5>
                            </div>
                            <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                                <div class="card-body">
                                    <ol>
                                        <li>Akses melalui browser handphone/laptop ketik https://sak.first-resources.com (dapat diakses tanpa VPN)</li>
                                        <li>Silahkan isi ID Login menggunakan ID Email (tanpa @@first-resources contoh: <b>namadepan.namabelakang</b>) dan isi password menggunakan password email/komputer Anda, lalu klik Login.</li>
                                        <li>Untuk pertama kali wajib mengisi data pribadi seperti alamat tempat tinggal, kelurahan dan gender.</li>
                                        <li>Isi pertanyaan sampai selesai dengan menjawab salah satu dari jawaban yang tersedia.</li>
                                        <li>Wajib membaca pakta integritas dan centang untuk submit seluruh jawaban.</li>
                                        <li>Tunggu sampai keluar hasil Self Assessment berupa QR Code dan Warna</li>
                                        <li>Anda telah selesai mengisi Self Assessment.</li>
                                    </ol>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="headingFour">
                                <h5 class="mb-0">
                                    <button class="btn btn-link" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                        Bagaimana cara mengganti data pribadi?
                                    </button>
                                </h5>
                            </div>
                            <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordion">
                                <div class="card-body">
                                    Silahkan klik icon menu pada posisi sebelah kanan atas lalu klik menu <b>data pribadi</b>, ubah sesuai kebutuhan lalu klik <b>ubah</b> untuk menyimpan.
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="headingFive">
                                <h5 class="mb-0">
                                    <button class="btn btn-link" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                                        Bagaimana cara melihat hasil Self Assessment?
                                    </button>
                                </h5>
                            </div>
                            <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordion">
                                <div class="card-body">
                                    Jika sudah mengisi Self Assessment, Anda dapat melihat hasil dengan cara login lalu klik <b>lihat hasil</b>. Jika Anda belum ada hasil, maka Anda wajib mengisi Self Assessment terlebih dahulu.
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="headingSix">
                                <h5 class="mb-0">
                                    <button class="btn btn-link" data-toggle="collapse" data-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                                        Bagaimana cara scan QR Code hasil Self Assessment?
                                    </button>
                                </h5>
                            </div>
                            <div id="collapseSix" class="collapse" aria-labelledby="headingSix" data-parent="#accordion">
                                <div class="card-body">
                                    <ol>
                                        <li>Buka https://sak.first-resources.com melalui handphone Anda (dapat diakses tanpa VPN)</li>
                                        <li>Klik <b>lihat hasil</b> lalu scan QR Code hasil Self Assessment pada alat QR Reader di meja receptionis.</li>
                                        <li>Scan QR Code hasil Self Assessment yang ada di handphone Anda pada alat QR Reader yang terletak pada meja receptionis ketika pagi jam masuk kantor, scan hasil warna HIJAU atau KUNING sampai mengeluarkan suara WELCOME apabila Anda scan lebih dari satu kali maka akan keluar suara THANK YOU. Jika scan hasil warna MERAH akan mengeluarkan suara ALARM.</li>
                                        <li>Jam Pulang wajib scan kembali QR Code hasil Self Assessment dan akan keluar suara THANK YOU.</li>
                                        <li>Jika scan Anda gagal maka akan keluar suara TRY AGAIN.</li>
                                        <li>Anda telah selesai scan jika alat sudah mengeluarkan suara dan persilahkan karyawan lain untuk scan QR Code hasil Self Assessment.</li>
                                        <li>Hasil QR Code hanya berlaku 1 hari pada hari tersebut dan otomatis akan expired, QR Code hari ini tidak dapat digunakan untuk hari berikutnya. Untuk mendapatkan QR Code Anda wajib mengisi Self Assessment.</li>
                                    </ol>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="headingSeven">
                                <h5 class="mb-0">
                                    <button class="btn btn-link" data-toggle="collapse" data-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
                                        Bagaimana jika tidak menemukan jawaban Anda disini?
                                    </button>
                                </h5>
                            </div>
                            <div id="collapseSeven" class="collapse" aria-labelledby="headingSeven" data-parent="#accordion">
                                <div class="card-body">
                                    <ol>
                                        Silahkan mengirimkan email ke helpdesk@first-resources.com dengan mengisi subjek SAK FAQ serta informasi yang Anda alami.
                                    </ol>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>
                <!-- End col lg 12 -->
            </div>
            <!-- end row-->
        </div>
        <!-- end container-->
    </main>

    <footer class="footer_in clearfix">
        <div class="container">
            <p><a href="@Url.Action("Faq","Home")">FAQ</a> | © 2020 First Resources</p>
        </div>
    </footer>
    <!-- end footer-->
    <!-- COMMON SCRIPTS -->
    <script src="~/lib/lib/js/jquery-3.2.1.min.js"></script>
    <script src="~/lib/lib/js/common_scripts.min.js"></script>
    <script src="~/lib/lib/js/velocity.min.js"></script>
    <script src="~/lib/lib/js/common_functions.js"></script>

</body>
</html>


<script>
    var userId = '@Context.Session.GetString("_UserId")';

    var userLevel = '@Context.Session.GetString("_UserLevel")';

    console.log(userLevel);

    $('#btn-back').click(function () {
        if (userId != '') {
            if (userLevel == 'USER') {
                window.location.href = '/Survey/Index';
            } else {
                window.location.href = '/Admin/Dashboard';
            }

        } else {
            window.location.href = '/Account';
        }
    });

</script>